:host {
  display: flex;
}

::ng-deep .ng-star-inserted {
  display: flex;
}

.country-item {
  display: flex;
  flex-direction: column;
  background-color: #d2d8dbad;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.2s;
  width: 260px;
  transition:
    transform 0.8s ease,
    box-shadow 0.8s ease,
    border 0.3s ease,
    background-color 0.3s ease;
}

.country-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #c6cdd1ad;
  border: 1px solid lightgray;
}

.btn-container {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.view-button {
  flex: 1;
  justify-content: center;
}

.flag {
  display: flex;
  flex: 1;
}

.flag img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 4px;
}

h3 {
  padding: 10px;
  margin: 0;
}

.country-context {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin: 10px 0 20px 0;
  font-size: 14px;
}

a {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .country-item {
    width: 200px;
  }
  .flag img {
    height: 100px;
  }
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .country-item {
    width: 150px;
    padding-bottom: 5px;
  }
  .flag,
  .flag img,
  a {
    max-height: 50px;
  }

  h3 {
    font-size: 14px;
    padding: 0;
    padding-top: 10px;
    margin-bottom: auto;
  }
  .country-context {
    font-size: 12px;
    margin: 10px 0;
    gap: 5px;
  }
  .view-button {
    height: 26px;
    align-self: center;
  }
}
