::ng-deep .cdk-overlay-pane {
  max-height: 70vh !important;
  max-width: 220px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

::ng-deep .mat-mdc-menu-panel {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  min-width: 220px !important;
}
/* ::ng-deep .mat-mdc-menu-content {
    min-width: 200px;
} */

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu {
  max-height: 70%;
  overflow: hidden;
}

.fav-button {
  min-width: 220px;
}

.fav-button.menu-open {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid lightgray;
}

.center-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.delete-button {
  margin-left: auto;
}

.click-item {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 12px;
  margin-left: -10px;
}

.click-item img {
  max-height: 15px;
  width: 20px;
}
