:host {
  display: flex;
  flex: 1;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #e0e5e7 !important;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}

.loading-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  overflow-y: auto;
  padding: 0 10px;
}

/* .country-container::after {
  content: "";
  flex: auto;
} */

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .container {
    border-radius: 0;
  }
  .country-container {
    justify-content: space-evenly;
    padding: 0 5px 0 0;
  }
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    height: 10px;
  }
}
