<ng-container *ngIf="countryData; else loading" class="container">

  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="grid-container">
        <div class="flag">
          <img [src]="countryData.flags.png" [alt]="countryData.flags.alt || 'Flag'" />
        </div>
        <div>
          <h2>{{ countryData.name.common }}</h2>
          <p><strong>Official Name:</strong> {{ countryData.name.official }}</p>
          <p><strong>Population:</strong> {{ countryData.population | number }}</p>
          <p><strong>Area:</strong> {{ countryData.area | number }} km²</p>
        </div>
        <div>
          <h3>Languages</h3>
          <mat-list>
            <mat-list-item *ngFor="let language of (countryData.languages | keyvalue)">
              {{ language.value }}
            </mat-list-item>
          </mat-list>
        </div>
        <h3>Bordering Countries</h3>
        <div *ngIf="countryData.borders.length > 0">
            <div *ngFor="let border of countryData.borders">{{ border }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</ng-container>

<!-- Loading Spinner -->
<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Loading country details...</p>
  </div>
</ng-template>
